#court {
    position: relative;
    background-color: #4caf50;
    margin: 50px auto;
    display: inline-block;
}
#point {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    width: 150px;
    font-size: 20px;

}
#main {
    width: 700px;
    margin: auto;
}

#reload {
    position: absolute;
    right: 200px;
    top: 120px;
}