#container {
    background-color: #4caf50;
    width: 400px;
    margin: 50px auto;
}
#court {
    position: relative;
    height: 400px;
    width: 400px;
    background-color: #4caf50;
}
#point {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    right: 220px;
    top: 50px;
}
#reload {
    position: absolute;
    right: 200px;
    top: 120px;
}